<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users Joined - Event Management System Software</title>
  <%- include partials/html-head %>
</head>

<body class="joined">
  <%- include partials/navbar %>

    <!-- Begin page content -->
    <main class="container">
      <header class="title my-3">User Joined</header>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-5">
          <div class="list-group" id="joining-list" role="tablist">
            <% for (user of users) { %>  
              <ul class="list-group">
                <li class="list-group-item list-group-item-primary" aria-current="true">Name: <%= user.username %></li>
                <li class="list-group-item ">Email: <%= user.email %></li>
                <li class="list-group-item ">Events: <%= user.eventsjoined %></li>
              </ul>
            <br>                
            <% } %>
          </div>
        </div>
    </main>

    <!-- Sticky Footer -->
    <%- include partials/footer %>

      <!-- Bootstrap core JavaScript
    ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <%- include partials/html-scripts %>
</body>

</html>


